In [235]:
# importing required libraries
# importing Scikit-learn library and datasets package\
import pandas as pd
from sklearn import metrics
import matplotlib.pyplot as plt
# importing random forest classifier from assemble module
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor

In [236]:
# Loading the iris plants dataset (classification)
#balance_data = datasets.load_iris()
#print(iris.target_names)
#print(iris.feature_names)
df=pd.read_csv("cardekho_r.csv")
#df.drop(['new_price'], axis=1,inplace=True)

# dividing the datasets into two parts i.e. training datasets and test datasets
#X, y = datasets.load_iris( return_X_y = True)
#X=balance_data[['carlength','enginesize','peakrpm','citympg','carwidth','carheight',\
#    'stroke','horsepower','highwaympg']]

#Y=balance_data.values[:, 0]
#Y=balance_data.iloc[:,26]

In [237]:
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)
duplicate_rows_df = df[df.duplicated()]
df.reset_index(drop=True,inplace=True)

In [238]:
c=[]
test=df['new_price']
for i in test:
    m=i.split("-")
    a=float(m[0])
    if len(m)==1 :
        c.append(a)
        continue
    b=float(m[1])
    sum=((a+b)/2)*100000
    c.append(sum)
df['new_price']=pd.Series(c)

In [239]:
s=pd.factorize(df['fullname'])[0]
df['fullname']=s

In [240]:
s=pd.factorize(df['sellertype'])[0]
df['sellertype']=s

In [241]:
#s=pd.factorize(df['ownertype'])[0]
#df['ownertype']=s

In [242]:
s=pd.factorize(df['fueltype'])[0]
df['fueltype']=s

In [243]:
s=pd.factorize(df['transmissiontype'])[0]
df['transmissiontype']=s

In [244]:
df.head()

,fullname,price,new_price,year,sellertype,kmdriven,ownertype,fueltype,transmissiontype,mileage,enginecc,maxpowerbhp,seats,pricelakh,price_old
0,0,550000,729500.0,2016,0,20000,First Owner,0,0,18.90,1197.0,82.00,5.0,Medium Range,5.50
1,1,570000,1196500.0,2015,1,30000,First Owner,1,0,22.77,1498.0,98.59,5.0,Medium Range,5.70
2,2,350000,605000.0,2013,0,35000,First Owner,0,0,18.90,998.0,67.10,5.0,Lower Range,3.50
3,3,315000,658500.0,2013,1,40000,First Owner,0,0,20.36,1197.0,78.90,5.0,Lower Range,3.15
4,4,410000,613500.0,2018,1,17512,First Owner,0,0,20.51,998.0,67.04,5.0,Lower Range,4.10

In [245]:
X=df[['new_price','year','fueltype','transmissiontype','mileage','enginecc','kmdriven']] #,'sellertype','seats'
Y=df.iloc[:,1]

In [246]:
# Spliting arrays or matrices into random train and test subsets
from sklearn.model_selection import train_test_split
# i.e. 70 % training dataset and 30 % test datasets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.20,random_state=112)

In [247]:
# creating a RF classifier
#clf = RandomForestClassifier(n_estimators = 510)
hyp = RandomForestRegressor(n_estimators = 150)#341- 280
# Training the model on the training dataset
# fit function is used to train the model using the training sets as parameters
hyp.fit(X_train, y_train)

RandomForestRegressor(n_estimators=150)

In [248]:
# performing predictions on the test dataset
y_pred = hyp.predict(X_test)
# predicting which type of flower it is.
#print('Output Class',clf.predict([[3,11.965,2013,1,40000,0,0,20.36,1197.0,78.90,5.0]]))

In [249]:
# metrics are used to find accuracy or error

# using metrics module for accuracy calculation
print('\nAccuracy: \n', hyp.score(X_test,y_test)*100,"%")
#print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred)*100,"%")
#reg. 90.5333088054793 %
#93.23430054090427 % without >abs 0.2 corr

Accuracy:
 93.658465936162 %

In [256]:
hyp.predict([[760000,2010,0,0,12,1199,20000]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([317813.33333333])

In [257]:
import pickle
file = open('file.pkl','wb')
pickle.dump(hyp,file)

In [ ]:
''''year = int(request.form['year'])
new_price = float(request.form['new_price'])
kmdriven = int(request.form['kmdriven'])
fueltype = request.form['fueltype']
transmissiontype = request.form['transmissiontype']
enginecc=int(request.form['enginecc'])
mileage=float(request.form['mileage'])
if(fueltype == 'Petrol'):
    fuel = 0
else:
    fuel = 1

if(transmissiontype == 'Manual'):
    transmissiontype = 0
else:
    transmissiontype = 1

prediction = hyp.predict([[new_price,year,fuel,transmissiontype,mileage,enginecc,kmdriven]])
output = round(prediction[0],2)
print(output)
''''